* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::selection{
    color: black;
    background: white;
}

html, body, 
ul, ol, li,
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* header */
header {
  background-color: yellow;
  height: 60px;
  color: grey;
  top: 0;
  z-index: 10;
}
  
.header-logo {
  float: left;
  font-size: 28px;
  padding: 10px 5px;
  margin-right: 50px;
}
  
.header-list li {
  list-style: none;
  float: left;
  padding: 14px 45px;
  font-size: 20px;
  transition: all 0.5s;
  display: block;
}

.header-list li:hover {
  background-color: rgba(46, 44, 44, 0.8);
  color: white;
  cursor: pointer;
  height: 60px;
}

/* footer CSS */
.footer{
    background-color: #0076BD;
    color: white;
    max-height: max-content;
    padding-bottom: 50px;
}

.footer li{
    list-style: none;
    margin: 4px 0;
    font-size: 12px;
}

div.footer li:hover{
    cursor: pointer;
    color:black;
}

div.footer h3{
    margin: 18px 0;
}

div.footer p{
    font-size: 12px;
}

div.footer-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin: 0 auto;
}

div.footer .sub-container{
    flex: auto;
    width: 25%;
    padding: 0 5%;
}

div.footer .testimoni{
    border-left: 1px solid white;
}

div.footer .social-media{
    font-size: 15px;
}

div.footer .social-media i{
    margin: 0 3px;
}

.bi:hover{
    transition: all 1s;
}

.bi-facebook:hover{
    color: #1877f2;
}

.bi-instagram:hover{
    color: #cd486b;
}

.bi-twitter:hover{
    color: #00acee;
}

.bi-youtube:hover{
    color: #FF0000;
}
