* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::selection{
    color: black;
    background: white;
}

html, body, 
ul, ol, li,
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* header */
header {
  background-color: rgb(255, 255, 0);
  width: 100%;
  height: 48px;
  color: grey;
  top: 0;
  z-index: 10;
  position: fixed;
}
  
.header-logo {
  float: left;
  font-size: 25px;
  padding: 10px 25px;
  margin-right: 50px;
}

header div.header-logo:hover{
    cursor: pointer;
}
  
header div.header-list{
    float:right;
}

.header-list li {
  list-style: none;
  float: left;
  padding: 15px 20px;
  font-size: 15px ;
  display: block;
}

@keyframes header-nav-hover{
    0% {background-color: rgba(46, 44, 44, 0.1);}
    25% {background-color: rgba(46, 44, 44, 0.225);}
    50% {background-color: rgba(46, 44, 44, 0.45);}
    75% {background-color: rgba(46, 44, 44, 0.675);}
    25% {background-color: rgba(46, 44, 44, 0.9);}
}

.header-list li:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  animation: header-nav-hover 5s infinite alternate;
  transition: all 2s ease-in-out;
} 

.header-list ul i.menu{
    font-size: 25px;
    margin-right: 10px;
    display: none;
}

div.introduction h2 {
    color:rgba(9,0,156,1);
    text-decoration: underline;
}

div.introduction p{
    line-height: 20px;
}

div.intro-wrapper, div.newsletter .container{
    background: rgb(200, 221, 233, 0.2);
}

div.intro-wrapper{
    width: 100%;
    padding: 2%;
}

div.introduction div.intro-who, div.introduction div.vision-mission{
    width: 80%;
    margin: 2% auto;
}

div.introduction div.intro-who{
    text-align: center;
}

div.introduction div.vision-mission{
    display: flex;
}

div.introduction div.vision, div.introduction div.mission{
    flex: auto;
    width: 50%;
    margin: 3px 5px 3px 5px;
    padding: 5px 5%;
}

div.introduction div.vision{
    text-align: right;
}

div.introduction div.mission{
    text-align: left;
    border-left: 6px double rgb(255, 217, 0);
}

/* banner */
div.banner{
    height: 600px;
    background: url(./assets/getty_881484382_373818.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding: 60px 0 150px 0;
    color:rgba(9,0,156,1);
}

div.banner marquee{
    text-align: center;
    letter-spacing: 1px;
    color:black;
    margin: 20px 0 30px 0;
}

div.banner marquee h4{
    font-weight: normal;
}

div.banner div.banner-cover{
    margin: 0 5%;
}

div.banner p{
    width: 70%;
    font-weight: 400;
    line-height: 25px;
    color: white;
    text-align: left;
    background: rgba(255, 255, 255, 0.089)
}

div.banner h1, div.banner h2{
    width: max-content;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.432);
}

div.banner h1{
    padding: 10px 0 5px 0;
    margin: 70px 0 0px 0;
}

div.banner h2{
    margin: 0 0 40px 0;
    padding: 0
}

/* subscribe form */
div.newsletter .container{
    padding: 50px 0 100px 0;
}

div.newsletter form{
    width: 80%;
    margin: 0 auto;
    padding: 3%;
    background: linear-gradient(90deg, rgba(9,0,156,1) 0%, rgba(7,7,182,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}

div.newsletter form h2, div.newsletter form input{
    display: inline-block;
}

div.newsletter form h2{
    color: white;
    font-size: 20px;
    margin: 0 0 1% 0;
}

div.newsletter form input[type="email"]{
    width: 40%;
    border: none;
    background-color: white;
    padding: 8px 15px;
}

div.newsletter form input[type="email"]:focus, div.newsletter form input[type="email"]:hover{
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

div.newsletter form input[type="email"]:hover{
    transition: all 1s ease;
    transform: scale(1.1, 1.1);
}

div.newsletter form input[type="button"]{
    border: none;
    padding: 6px 18px;
    margin: 0 1.5%;
    font-weight: bold;
    background: transparent linear-gradient(90deg, rgba(255,255,87,1) 31%, rgba(255,255,157,1) 100%);
    color:mediumblue;
}

@keyframes newsletter-btn-hover{
    0%   {transform: scale(1,1);}
    10%  {transform: scale(1.01, 1.01);}
    20%  {transform: scale(1.02, 1.02);}
    30%  {transform: scale(1.03, 1.03);}
    40%  {transform: scale(1.04, 1.04);}
    50%  {transform: scale(1.05, 1.05);}
    60%  {transform: scale(1.06, 1.06);}
    70%  {transform: scale(1.07, 1.07);}
    80%  {transform: scale(1.08, 1.08);}
    90%  {transform: scale(1.09, 1.09);}
    100% {transform: scale(1.1, 1.1);}
}

div.newsletter form input[type="button"]:hover{
    animation: newsletter-btn-hover 1.5s infinite alternate;
    transition: background-color 1s ease;
}

/* footer CSS */
.footer{
    background-color: #0076BD;
    color: white;
    max-height: max-content;
    padding-bottom: 50px;
}

.footer li{
    list-style: none;
    margin: 4px 0;
    font-size: 12px;
}

div.footer li:hover{
    cursor: pointer;
    color:black;
}

div.footer h3{
    margin: 18px 0;
}

div.footer p{
    font-size: 12px;
}

div.footer-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin: 0 auto;
}

div.footer .sub-container{
    flex: auto;
    width: 25%;
    padding: 0 5%;
}

div.footer .testimoni{
    border-left: 1px solid white;
}

div.footer .social-media{
    font-size: 15px;
}

div.footer .social-media i{
    margin: 0 3px;
}

.bi:hover{
    transition: all 1s;
}

.bi-facebook:hover{
    color: #1877f2;
}

.bi-instagram:hover{
    color: #cd486b;
}

.bi-twitter:hover{
    color: #00acee;
}

.bi-youtube:hover{
    color: #FF0000;
}

div.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
  
  div.heading{
    text-align: center;
    padding-bottom: 20px;
  }
  
  .section-title { 
    border-bottom: 2px solid #4c6572;
    font-size: 45px;
  }
  
  .contents {
    margin: 40px 30px 0 30px;
  }
  
  .contents-item {
    float: left;
    width: 20%;
  }
  
  .contents-item .profile img{
    width: 50%;
  }
  
  .profile{
    text-align: center;
  }
  
  .contents-item p{
    text-align: center;
    margin: 5px 0;
  }
  .contents-item li{
    list-style: none;
    text-align: center;
    font-size: 12px;
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* Change the display property to none */
    display: none;
  }
