@media all and (max-width: 1000px){
    /* footer */
    div.footer .sub-container{
        width: 50%;
    }
    div.footer .testimoni{
        border: none;
    }
    div.footer h3{
        margin: 8px 0;
        font-size: 12px;
    }
    div.footer li{
        list-style: none;
        margin: 3px 0;
    }
    div.footer p, div.footer .social-media, div.footer li{
        font-size: 10px;
    }
    div.footer .social-media i{
        margin: 0 3px;
    }
}

@media all and (max-width: 670px) {
    /* header */
    header{
        height: 35px;
    }
    header div.header-logo{
        font-size: 20px;
        padding: 5px 15px;
    }
    header div.header-list li{
        display: none;
    }
    header div.header-list i.menu{
        display: block;
    }

    /* footer */
    div.footer .sub-container{
        width: 100%;
    }
    div.footer h3{
        margin: 8px 0;
        font-size: 10px;
    }
    div.footer li{
        list-style: none;
        margin: 2px 0;
    }
    div.footer p, div.footer .social-media, div.footer li{
        font-size: 8px;
    }
    div.footer .social-media i{
        margin: 0 2px;
    }
}